In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("/content/StudentsPerformance.csv")

In [3]:
## Displaying the data 
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

In [4]:
## 1. Find out how many males and females participated in the test
df['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [5]:
## 2. What do you think about the students' parental level of education.
df['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [6]:
## 3 .  Who scores the most on average for math, reading and writing based on gender and test score
df[['gender','math score','reading score','writing score', ]].groupby('gender').mean()

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

In [7]:
## 3 . 
df[['test preparation course','math score','reading score','writing score']].groupby('test preparation course').mean()

                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

In [8]:
## 4. What do you think about the scoring variation for math, reading and writing based on gender and test score
df[['gender','math score','reading score','writing score']].groupby('gender').std()

        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225

In [9]:
df[['test preparation course','math score','reading score','writing score']].groupby('test preparation course').std()

                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

In [10]:
## 5 . The management needs your help to give bonus points to the top 25% of  students based on their math score, so how will you help the managementto achieve this.
top = df.nlargest(250,['math score'])

In [11]:
pd.set_option('display.max_rows', df.shape[0]+1)

In [12]:
top

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
515,female,group E,some college,standard,none,100,92,97
516,female,group E,bachelor's degree,standard,none,100,100,100
517,female,group E,associate's degree,standard,none,100,100,100
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100
513,female,group E,bachelor's degree,standard,completed,99,100,100
514,female,group E,high school,standard,none,99,93,90
995,male,group E,some college,standard,completed,99,87,81
512,female,group D,some college,standard,none,98,100,99
993,male,group C,some college,standard,completed,98,86,90
994,male,group C,associate's degree,standard,completed,98,87,90
510,female,group B,bachelor's degree,standard,none,97,97,96
511,female,group D,some high school,standard,completed,97,100,100
989,male,group A,associate's degree,standard,completed,97,92,86
990,male,group C,associate's degree,standard,none,97,93,91
991,male,group E,some college,standard,none,97,87,82
992,male,group E,associate's degree,standard,completed,97,82,88
508,female,group C,bachelor's degree,standard,completed,96,100,100
509,female,group C,associate's degree,standard,completed,96,96,99
988,male,group C,bachelor's degree,standard,completed,96,90,92
507,female,group E,associate's degree,standard,completed,95,89,92
987,male,group D,master's degree,standard,none,95,81,84
505,female,group B,associate's degree,standard,completed,94,87,92
506,female,group E,master's degree,standard,completed,94,99,100
982,male,group B,some high school,standard,completed,94,86,87
983,male,group C,bachelor's degree,standard,completed,94,90,91
984,male,group E,some high school,standard,none,94,88,78
985,male,group E,associate's degree,standard,completed,94,85,82
986,male,group E,high school,standard,none,94,73,71
503,female,group D,bachelor's degree,free/reduced,completed,93,100,100
504,female,group E,associate's degree,standard,completed,93,100,95
980,male,group C,some college,standard,completed,93,84,90
981,male,group E,some college,free/reduced,none,93,90,83
499,female,group A,some high school,standard,completed,92,100,97
500,female,group C,bachelor's degree,standard,completed,92,100,99
501,female,group D,master's degree,standard,none,92,100,100
502,female,group E,bachelor's degree,free/reduced,completed,92,100,100
978,male,group C,associate's degree,standard,none,92,79,84
979,male,group E,some high school,standard,none,92,87,78
497,female,group C,associate's degree,standard,none,91,86,84
498,female,group C,associate's degree,standard,none,91,95,94
971,male,group A,bachelor's degree,standard,none,91,96,92
972,male,group B,associate's degree,standard,completed,91,89,92
973,male,group B,some college,standard,completed,91,96,91
974,male,group C,some college,standard,none,91,74,76
975,male,group C,bachelor's degree,standard,completed,91,81,79
976,male,group C,master's degree,standard,completed,91,85,85
977,male,group E,associate's degree,free/reduced,completed,91,73,80
495,female,group B,master's degree,standard,none,90,95,93
496,female,group B,associate's degree,standard,completed,90,90,91
964,male,group B,associate's degree,standard,none,90,78,81
965,male,group B,some college,standard,completed,90,95,92
966,male,group C,high school,standard,none,90,75,69
967,male,group D,associate's degree,free/reduced,none,90,87,75
968,male,group D,associate's degree,standard,none,90,87,85
969,male,group E,master's degree,standard,none,90,85,84
970,male,group E,associate's degree,free/reduced,none,90,90,82
494,female,group D,bachelor's degree,standard,none,89,100,100
959,male,group D,master's degree,standard,none,89,84,82
960,male,group D,some high school,standard,completed,89,88,82
961,male,group D,high school,standard,none,89,87,79
962,male,group E,associate's degree,standard,none,89,76,74
963,male,group E,some high school,standard,completed,89,84,77
488,female,group B,some college,standard,completed,88,95,92
489,female,group C,some college,standard,completed,88,93,93
490,female,group C,some college,standard,completed,88,95,94
491,female,group D,associate's degree,standard,completed,88,92,95
492,female,group D,high school,standard,completed,88,99,100
493,female,group E,master's degree,standard,completed,88,99,95
950,male,group B,some high school,standard,none,88,84,75
951,male,group B,some college,standard,completed,88,85,76
952,male,group B,bachelor's degree,free/reduced,none,88,75,76
953,male,group C,high school,standard,none,88,89,86
954,male,group D,high school,standard,none,88,78,75
955,male,group D,some college,standard,none,88,73,78
956,male,group D,bachelor's degree,standard,none,88,78,83
957,male,group D,some high school,standard,completed,88,74,75
958,male,group D,some college,standard,none,88,77,77
483,female,group B,high school,standard,none,87,95,86
484,female,group C,some college,standard,completed,87,89,94
485,female,group D,master's degree,standard,none,87,100,100
486,female,group E,associate's degree,standard,none,87,94,95
487,female,group E,some college,standard,none,87,85,93
939,male,group A,bachelor's degree,standard,completed,87,84,87
940,male,group B,associate's degree,standard,none,87,85,73
941,male,group B,bachelor's degree,free/reduced,completed,87,90,88
942,male,group B,some college,standard,completed,87,84,86
943,male,group C,associate's degree,standard,completed,87,100,95
944,male,group C,associate's degree,free/reduced,none,87,73,72
945,male,group D,associate's degree,standard,completed,87,84,85
946,male,group E,some college,free/reduced,completed,87,74,70
947,male,group E,high school,standard,completed,87,91,81
948,male,group E,associate's degree,standard,none,87,74,76
949,male,group E,some high school,standard,completed,87,84,76
481,female,group C,bachelor's degree,standard,none,86,92,87
482,female,group E,some college,standard,completed,86,85,91
933,male,group C,bachelor's degree,standard,none,86,83,86
934,male,group C,high school,standard,completed,86,81,80
935,male,group D,some high school,standard,none,86,80,75
936,male,group D,some high school,standard,none,86,73,70
937,male,group E,some college,standard,none,86,76,74
938,male,group E,high school,free/reduced,completed,86,81,75
473,female,group A,some high school,standard,completed,85,90,92
474,female,group C,some high school,standard,completed,85,92,93
475,female,group C,associate's degree,standard,none,85,89,95
476,female,group C,associate's degree,standard,none,85,84,82
477,female,group D,associate's degree,standard,none,85,91,89
478,female,group D,master's degree,free/reduced,completed,85,95,100
479,female,group D,some college,standard,completed,85,86,98
480,female,group E,associate's degree,standard,none,85,92,85
927,male,group B,some high school,standard,completed,85,84,78
928,male,group C,associate's degree,standard,none,85,76,71
929,male,group D,master's degree,standard,none,85,84,89
930,male,group D,some college,standard,completed,85,81,85
931,male,group E,bachelor's degree,standard,completed,85,66,71
932,male,group E,some college,standard,completed,85,75,68
471,female,group C,some college,standard,none,84,87,91
472,female,group E,associate's degree,standard,none,84,95,92
918,male,group B,some high school,standard,completed,84,83,75
919,male,group C,high school,standard,none,84,77,74
920,male,group C,associate's degree,standard,none,84,80,80
921,male,group C,some college,standard,none,84,87,81
922,male,group D,master's degree,free/reduced,completed,84,89,90
923,male,group D,some high school,standard,none,84,84,80
924,male,group E,some college,standard,none,84,77,71
925,male,group E,some college,standard,completed,84,83,78
926,male,group E,high school,standard,none,84,73,69
467,female,group C,bachelor's degree,standard,none,83,93,95
468,female,group C,associate's degree,standard,completed,83,85,90
469,female,group C,some college,standard,none,83,83,90
470,female,group E,associate's degree,free/reduced,completed,83,86,88
914,male,group C,bachelor's degree,standard,completed,83,82,84
915,male,group C,bachelor's degree,standard,none,83,78,73
916,male,group C,associate's degree,standard,none,83,72,78
917,male,group E,some college,standard,none,83,80,73
458,female,group A,associate's degree,standard,none,82,93,93
459,female,group B,associate's degree,standard,none,82,80,77
460,female,group B,some high school,standard,none,82,82,80
461,female,group B,some college,standard,none,82,85,87
462,female,group C,some college,standard,none,82,90,94
463,female,group C,associate's degree,free/reduced,completed,82,93,93
464,female,group D,some college,standard,completed,82,97,96
465,female,group D,associate's degree,standard,none,82,95,89
466,female,group E,associate's degree,standard,completed,82,85,86
905,male,group B,associate's degree,free/reduced,completed,82,78,74
906,male,group B,associate's degree,standard,completed,82,84,78
907,male,group B,high school,standard,none,82,82,80
908,male,group C,high school,standard,completed,82,84,82
909,male,group C,associate's degree,standard,completed,82,75,77
910,male,group D,master's degree,standard,none,82,82,74
911,male,group D,some college,standard,completed,82,82,88
912,male,group E,bachelor's degree,standard,none,82,62,62
913,male,group E,some high school,standard,none,82,67,61
450,female,group B,high school,standard,none,81,91,89
451,female,group C,master's degree,standard,completed,81,91,87
452,female,group C,bachelor's degree,standard,none,81,88,90
453,female,group C,associate's degree,standard,none,81,77,79
454,female,group C,high school,standard,none,81,84,82
455,female,group D,some high school,standard,none,81,97,96
456,female,group E,master's degree,standard,none,81,92,91
457,female,group E,master's degree,free/reduced,none,81,86,87
891,male,group A,some college,free/reduced,completed,81,78,81
892,male,group B,associate's degree,standard,completed,81,82,82
893,male,group B,associate's degree,standard,none,81,73,72
894,male,group C,high school,standard,none,81,66,64
895,male,group D,associate's degree,standard,completed,81,72,77
896,male,group D,associate's degree,free/reduced,none,81,75,78
897,male,group D,master's degree,standard,none,81,81,84
898,male,group D,associate's degree,standard,none,81,71,73
899,male,group D,some college,standard,none,81,82,84
900,male,group D,some high school,standard,none,81,78,78
901,male,group E,associate's degree,standard,completed,81,81,79
902,male,group E,high school,standard,completed,81,80,76
903,male,group E,some college,standard,completed,81,74,71
904,male,group E,some high school,standard,completed,81,75,76
444,female,group B,associate's degree,standard,none,80,86,83
445,female,group D,some college,standard,none,80,90,89
446,female,group D,some high school,standard,none,80,90,82
447,female,group D,some high school,standard,completed,80,92,88
448,female,group E,bachelor's degree,standard,none,80,83,83
449,female,group E,some high school,standard,completed,80,85,85
880,male,group A,bachelor's degree,standard,completed,80,78,81
881,male,group B,associate's degree,standard,none,80,76,64
882,male,group C,some college,free/reduced,none,80,64,66
883,male,group D,some high school,free/reduced,completed,80,79,79
884,male,group D,associate's degree,standard,none,80,75,77
885,male,group D,master's degree,standard,none,80,80,72
886,male,group D,associate's degree,standard,none,80,68,72
887,male,group D,associate's degree,standard,none,80,63,63
888,male,group D,bachelor's degree,standard,none,80,73,72
889,male,group D,associate's degree,standard,none,80,75,69
890,male,group E,high school,standard,none,80,76,65
436,female,group B,some college,standard,none,79,86,92
437,female,group C,bachelor's degree,standard,completed,79,92,89
438,female,group D,some college,standard,none,79,86,81
439,female,group D,bachelor's degree,standard,none,79,89,89
440,female,group D,some college,free/reduced,none,79,89,86
441,female,group D,some college,standard,completed,79,84,91
442,female,group E,associate's degree,standard,completed,79,88,94
443,female,group E,bachelor's degree,standard,completed,79,81,82
866,male,group A,some high school,free/reduced,none,79,82,73
867,male,group A,associate's degree,free/reduced,completed,79,82,82
868,male,group B,some college,standard,none,79,67,67
869,male,group B,high school,standard,none,79,60,65
870,male,group B,some high school,standard,completed,79,85,86
871,male,group C,some college,standard,completed,79,79,78
872,male,group C,master's degree,free/reduced,none,79,81,71
873,male,group C,master's degree,standard,none,79,78,77
874,male,group C,master's degree,standard,none,79,72,69
875,male,group C,some high school,free/reduced,none,79,76,65
876,male,group C,master's degree,free/reduced,completed,79,77,75
877,male,group D,some college,standard,none,79,73,67
878,male,group D,associate's degree,free/reduced,completed,79,82,80
879,male,group E,bachelor's degree,free/reduced,completed,79,74,72
430,female,group A,some college,standard,completed,78,87,91
431,female,group B,bachelor's degree,free/reduced,none,78,79,76
432,female,group D,bachelor's degree,standard,none,78,82,79
433,female,group D,high school,standard,none,78,81,80
434,female,group D,bachelor's degree,free/reduced,none,78,90,93
435,female,group D,master's degree,standard,none,78,91,96
857,male,group A,some college,standard,completed,78,72,70
858,male,group B,high school,standard,completed,78,69,67
859,male,group C,associate's degree,free/reduced,completed,78,81,82
860,male,group C,associate's degree,standard,completed,78,77,77
861,male,group C,some high school,standard,completed,78,72,69
862,male,group D,high school,free/reduced,completed,78,77,80
863,male,group D,some high school,standard,completed,78,81,86
864,male,group E,some high school,free/reduced,completed,78,83,80
865,male,group E,associate's degree,free/reduced,completed,78,74,72
414,female,group A,high school,free/reduced,completed,77,88,85
415,female,group B,master's degree,free/reduced,completed,77,97,94
416,female,group B,bachelor's degree,free/reduced,none,77,85,87
417,female,group B,master's degree,standard,none,77,90,84
418,female,group B,high school,standard,completed,77,82,89
419,female,group C,bachelor's degree,standard,none,77,88,87
420,female,group C,bachelor's degree,standard,completed,77,94,95
421,female,group C,some college,free/reduced,none,77,90,91
422,female,group C,some high school,standard,completed,77,90,85
423,female,group C,some high school,standard,none,77,91,88
424,female,group D,associate's degree,free/reduced,completed,77,89,98
425,female,group D,master's degree,standard,completed,77,82,91
426,female,group D,some college,standard,none,77,68,77
427,female,group D,associate's degree,standard,none,77,77,73
428,female,group D,some college,free/reduced,none,77,86,86
429,female,group E,some high school,standard,none,77,79,80
849,male,group A,bachelor's degree,standard,none,77,67,68
850,male,group C,associate's degree,free/reduced,none,77,67,64
851,male,group D,some college,standard,completed,77,62,62